<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Dashboard</title>
</head>

<body>

<h1>Dashboard</h1>

<!-- Show user info from session -->
<p>
	Welcome,
	<span th:text="${session.username}">User's Username</span>
</p>

<a th:href="@{/wishlists/new}">
	<button type="button">+ Create new wishlist</button>
</a>
<hr>

<h3>Your Panel</h3>

<ul>
	<li th:if="${#lists.isEmpty(wishlists)}">
		No wishlists yet. <span><a th:href="@{/wishlists/new}">Create one</a></span>
	</li>

	<li th:each="wl : ${wishlists}">
		<a th:href="@{/wishlists/{id}(id=${wl.wishlistId})}"
		th:text="${wl.title}">Wishlist Title</a>

		<a th:href="@{/wishlists/{id}/edit(id=${wl.wishlistId})}">
			Rename
		</a>

		<form th:action="@{/wishlists/{id}/delete(id=${wl.wishlistId})}"
		method="post" style="display: inline">
			<button type="submit"
			        th:data-name="${wl.title}"
			        onclick="return confirm('Really wanna delete ' + this.getAttribute('data-name') + '?')">
				Delete
			</button>
		</form>
	</li>
</ul>

<hr>

<!-- Logout -->
<form method="post" th:action="@{/auth/logout}">
	<button type="submit">Logout</button>
</form>

</body>
</html>